.admin-today-order {
    background-color: #EFF0EB;
    height: 100vh;
}
.admin-today-order {
    @media (max-width: 1087.98px) {
        #nav-menu {
            display: none;
            background: hsl(0, 0%, 96%);
        }
    
        #body {
            width: 100%;
        }
    }
    @media (min-width: 1088px) {
        #nav-menu {
            display: block;
            flex: none;
            width: 16.66667%;
        }
    }
    #nav-menu {
        background: #EFF0EB;
        z-index: 2;
    }
}