.admin-today-order {
    background-color: #FBFCFC;
    height: 100vh;
}
.admin-today-order {
    .admin-today-order-button-bar{
        text-align: center;
    }
    #admin-today-order-button{
        font-weight: 600;
    }
}