.forget-container {
  min-height: 300px;
  height: auto;
  margin-top: 50px;
  padding: 15px 30px;
  border: 1px solid orange;
  background-color: rgb(255, 250, 240);
}

.forget-button-container {
  width: 300px;
  margin: auto;
}

#forget-label {
  display: inline-block;
  min-width: 150px;
}