.fp-container {
  margin-top: 50px;
  padding: 15px 30px;
  background-color: transparent;
}

.fp-info {
  text-align: center;
  margin: 0 0 40px;
}

.fp-home {
  height: 600px;
  background: #ECF0F1;
}

.fp-heading {
  font-weight: 700;
  color: hsl(0, 0%, 13%);
}

.fp-alert {
  text-align: left;
}

.fp-buttons {
  width: 150px;
  margin: auto;
}