*{
    font-family: "Lato","Helvetica Neue","Helvetica",Arial,fontawesome;
    line-height: 1.4;
   
}

body{
    background: url("https://st2.depositphotos.com/1010652/10710/v/950/depositphotos_107109804-stock-illustration-set-of-sweets-and-snacks.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container, h1{
    border-radius: 8px;
    margin: auto;
    background: white;
    border: hidden;
}

.container{
    border-radius: 8px;
    width: 30%;
    position: absolute;
    height: 70%;
    left: 0 ;right: 0; top: 0; bottom: 0;
    text-align: center;
    background-color: #E9EBEE;
}
h1{
    font-size: 30px;
    padding: 15px;
    color: white;
    background-color: #4267B2;
}

h3{
    text-align:left;
    padding: 0px 20px;
    margin: 0;
}

h4{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

input[type=text], input[type=password] {
    position: relative;
    width: 92%;
    padding: 12px 20px;
    margin: 5px 15px 22px 15px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    position: relative;
    padding: 12px 20px;
}

button {
    background-color:#4267B2;
    color: white;
    padding: 15px 20px;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.9;
}

#redirect-login  {
    padding-top: 0;
}

#link-signup{
    text-decoration: none;
}




