/* for extra small device */
/* min-width=0 === no min-width */
.offset-xs-1 { margin-left: 8.33%;}
.offset-xs-2 { margin-left: 16.66%;}
.offset-xs-3 { margin-left: 25%;}
.offset-xs-4 { margin-left: 33.33%;}
.offset-xs-5 { margin-left: 41.66%;}
.offset-xs-6 { margin-left: 50%;}
.offset-xs-7 { margin-left: 58.33%;}
.offset-xs-8 { margin-left: 66.66%;}
.offset-xs-9 { margin-left: 75%;}
.offset-xs-10 { margin-left: 83.33%;}
.offset-xs-11 { margin-left: 91.66%;}
.offset-xs-12 { margin-left: 100%;}

/* for small device*/
@media screen and (min-width: 576px) {
    .offset-sm-1 { margin-left: 8.33%;}
    .offset-sm-2 { margin-left: 16.66%;}
    .offset-sm-3 { margin-left: 25%;}
    .offset-sm-4 { margin-left: 33.33%;}
    .offset-sm-5 { margin-left: 41.66%;}
    .offset-sm-6 { margin-left: 50%;}
    .offset-sm-7 { margin-left: 58.33%;}
    .offset-sm-8 { margin-left: 66.66%;}
    .offset-sm-9 { margin-left: 75%;}
    .offset-sm-10 { margin-left: 83.33%;}
    .offset-sm-11 { margin-left: 91.66%;}
    .offset-sm-12 { margin-left: 100%;}
}

/* for median device  */
@media screen and (min-width: 768px) {
    .offset-md-1 { margin-left: 8.33%;}
    .offset-md-2 { margin-left: 16.66%;}
    .offset-md-3 { margin-left: 25%;}
    .offset-md-4 { margin-left: 33.33%;}
    .offset-md-5 { margin-left: 41.66%;}
    .offset-md-6 { margin-left: 50%;}
    .offset-md-7 { margin-left: 58.33%;}
    .offset-md-8 { margin-left: 66.66%;}
    .offset-md-9 { margin-left: 75%;}
    .offset-md-10 { margin-left: 83.33%;}
    .offset-md-11 { margin-left: 91.66%;}
    .offset-md-12 { margin-left: 100%;}
}

/* for large device */
@media screen and (min-width: 992px) {
    .offset-lg-1 { margin-left: 8.33%;}
    .offset-lg-2 { margin-left: 16.66%;}
    .offset-lg-3 { margin-left: 25%;}
    .offset-lg-4 { margin-left: 33.33%;}
    .offset-lg-5 { margin-left: 41.66%;}
    .offset-lg-6 { margin-left: 50%;}
    .offset-lg-7 { margin-left: 58.33%;}
    .offset-lg-8 { margin-left: 66.66%;}
    .offset-lg-9 { margin-left: 75%;}
    .offset-lg-10 { margin-left: 83.33%;}
    .offset-lg-11 { margin-left: 91.66%;}
    .offset-lg-12 { margin-left: 100%;}
}

/* for extra large device */
@media screen and (min-width: 1200px) {
    .offset-xl-1 { margin-left: 8.33%;}
    .offset-xl-2 { margin-left: 16.66%;}
    .offset-xl-3 { margin-left: 25%;}
    .offset-xl-4 { margin-left: 33.33%;}
    .offset-xl-5 { margin-left: 41.66%;}
    .offset-xl-6 { margin-left: 50%;}
    .offset-xl-7 { margin-left: 58.33%;}
    .offset-xl-8 { margin-left: 66.66%;}
    .offset-xl-9 { margin-left: 75%;}
    .offset-xl-10 { margin-left: 83.33%;}
    .offset-xl-11 { margin-left: 91.66%;}
    .offset-xl-12 { margin-left: 100%;}
}