#title{
    z-index: 2;
    position:fixed;
    display:block;
    width: 100%;
    height:15%;
    background-color: #ffa31a;
    text-align: center;
    font-family: 'monofett';
    color:whitesmoke;
    font-size: 60px;
}
#user_bar{
    display:block;
    position: absolute;
    box-sizing: border-box;
    right:2%;
    height: 40%;
    width: 30%;
    bottom:10%;
    text-align: start;
    background-color: #ffe36a;
    border-radius: 19px;
    padding :9px;
}
#user_name{
    display: inline-block;
    float:left;
    color:#ffa31a;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 19;
    font-weight: bold;
    width:60%;
    text-align: center;
}

#user_bar button{
    display: inline-block;
    float:right;
    color:#ffe36a;
    background: #ffa31a;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 19px;
    font-weight: bold;
    border:transparent;
    width:35%;
    font-size:19px;
}


