#title{
    background-color: #4267B2;
    text-align: center;
    font-family: 'monofett';
    color:whitesmoke;
    font-size: 60px;
}
#login_zone{
    display:inline-block;
    box-sizing: border-box;
    width:20%;
    /* float: left; */
    margin-top: 50px;
    height: calc(90% - 150px);
    padding:3px;
    margin-left: 10px;
}
#login_zone a{
    width:40%;
    margin:5%;
    float:left;
    background-color: #4267B2;
    color:whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

