*{
    font-family: "Lato","Helvetica Neue","Helvetica","Arial", fontawesome;
    line-height: 1.4;
}
body{
    background: url("https://preview.ibb.co/eraOhp/Background_Signin.png");
    opacity: 10%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container, h1{
    border-radius: 4px;
    background: white;
    border: hidden;
}
.container{
    border-radius: 20px;
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: #E9EBEE;
    background: url("https://www.xmple.com/wallpaper/linear-highlight-yellow-green-gradient-1920x1080-c2-fffdc7-c7ffcd-l-50-a-135-f-21.svg");
    padding-bottom: 5px;
}
h3{
    text-align:left;
    padding: 0px 20px;
    padding-top: 20px;
    margin: 0;
}
h4{
    padding:0;
    margin: 15px auto;
    text-align: center;
}
input[type=text], input[type=password] {
    border-radius: 10px;
    position: relative;
    width: 92%;
    padding: 12px 20px;
    margin: 5px 15px 0px 15px;
    display: inline-block;
    border: none;
    background: white;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    position: relative;
    padding: 12px 20px;
}
button {
    background-color: #ffe36a;
    color: black;
    padding: 5px 20px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.9;
}
#redirect-login  {
    padding-top: 0;
}
#link-signin{
    text-decoration: none;
}
.logo,.logo-container {
    width: 468px;
    height: 200px;
    margin: auto;
    margin-top: 5px;
}
