html, body, #root {
  height: 100%;
}

.admin-create-user, .admin-products {
  background: #FBFCFC;
}

.admin-create-user {
  height: 100%;
}

.admin-products {
  height: 100%;
}

.admin-product-div {
  margin: 0 0 20px; 

}

.admin-product-price {
  font-weight: 700;
  font-size: 30px;
  color: #c0392b;
}

.admin-button-div {
  display: inline-block;
}

.admin-product-button {
  margin-left: 5px;
}

.image-label {
  word-break: break-all;
}

.admin-status {
  float: left;
}

.admin-status.error {
  color: red;
}

.admin-status.success {
  color: green;
}

.admin-status.warning {
  color: #8a6d3b;
}

.admin-justified-content {
  div {
    padding: 7px 0px;
  }
}

.table-responsive {
  min-height: 600px;
}