html, body, #root {
  height: 100%;
}

.admin-create-user, .admin-products {
  background: #ECF0F1;
}

.admin-create-user {
  height: 100%;
}

.admin-products {
  height: auto;
}

.admin-product-div {
  margin: 0 0 20px; 

}

.admin-product-price {
  font-weight: 700;
  font-size: 30px;
  color: #c0392b;
}