.profile * {
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", fontawesome;
    line-height: 1.4;
}

.profile {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    background: url('../../../assets/images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y:auto;
}

.profile .title {
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    height: 64px;
    border-bottom: 1px solid rgb(252, 193, 0);
    background-color: #ffd54f;
    align-items: center;
    font-size: 60px;
}

.profile .logo-container {
    display: flex;
    width: 200px;
    height:98%;
    margin: auto;
    padding: 3px;
    border-radius: 100px;
    background: #fff8e1;
}

.profile .logo {
    align-content: center;
    height: 93%;
    width: auto;
    margin: auto;
}

.profile .container {
    z-index: 1;
    display: block;
    position: relative;
    top: 70px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: calc(100%-70px);
}

.profile .profile-sidebar {
    padding: 20px 0px 10px 0px;
    background: #fffde7;
    border: 1px solid #ffe082;
    margin: 0px 15px; 
}

.profile .profile-user-avatar {
    float: none;
    margin: 0 auto;
    width: 126px;
    height: 126px;
    border-radius: 50% !important;
}

.profile .profile-username {
    text-align: center;
    color: #ff8f00;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 15px;
}

.profile #avatar-input-field {
    display: flex;
    width: 100px;
    overflow: hidden;
    margin: auto;
    padding: 5px;
}

.profile .avatar {
    height: 100%;
    width: 100%;
    display: block;
}

.profile .profile-menu {
    margin-top: 30px;
}

.profile .nav {
    text-decoration: none;
    margin-top: 0;
    list-style-type: none;
}
.profile ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    cursor: pointer;
}

.profile .profile-menu ul li.active {
    color: #e65100;
    background-color: #ffecb3;
    border-left: 2px solid #ffb300;
    margin-left: -2px;
}
.profile .profile-menu ul li {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile .nav > li {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.profile .profile-content {
    padding: 20px;
    background: #fffde7;
    border: 1px solid #ffe082;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.profile .profile-title {
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
}

.profile .info-bar {
    display: block;
    min-height: 35px;
    margin-bottom: 5px;
}

.profile .property {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    text-align: right;
    padding: 6px;
}

.profile .input-field {
    cursor: text;
    background: white;
    padding: 6px 12px;
}

.profile .input-field:disabled{
    cursor: default;
    background: rgba(158, 158, 158, 0.3);
}
.profile .button {
    text-align: center;
}

.profile button {
    background-color: #ffe36a;
    color: black;
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.9;
}

@media (min-width: 576px) {
    .profile .profile-menu {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .profile .profile-content {
        height: 65%;
    }
}

@media (min-width: 1200px) {
    .profile .title {
        height: 96px;
    }
    .profile .logo-container {
        width: 270px;
        border-radius: 150px;
    }
    .profile .container {
        max-width: 1170px;
        top: 106px;
    }
}