* {
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", fontawesome;
    line-height: 1.4;
}
body {
    background: url("../images/background.png") no-repeat center center fixed;;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 10%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-sidebar {
    padding: 20px 0px 10px 0px;
    background: #fffde7;
    border: 1px solid #ffe082;
    margin: 0px 15px; 
}
.profile-content {
    padding: 20px;
    background: #fffde7;
    min-height: 50%;
    border: 1px solid #ffe082;
    margin-left: 15px;
    margin-right: 15px; 
}
.profile-user-avatar {
    float: none;
    margin: 0 auto;
    width: 126px;
    height: 126px;
    border-radius: 50% !important;
}
.avatar {
    max-width: 100%;
    display: block;
}
.profile-username {
    text-align: center;
    color: #ff8f00;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 15px;
}
.nav {
    text-decoration: none;
    margin-top: 0;
    list-style-type: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    text-decoration: none;
}
.profile-menu {
    margin-top: 30px;
}
.profile-menu ul li.active a {
    color: #e65100;
    background-color: #ffecb3;
    border-left: 2px solid #ffb300;
    margin-left: -2px;
}
.profile-menu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}
a:hover {
    color: #5b9bd1;
}
.cl-md-2 {
    position: relative;
    min-height: 1px;
}
.profile-title {
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px; 
}
.info-bar {
    display: block;
    min-height: 35px;
    margin-bottom: 10px;
}
.property {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    text-align: right;
    padding: 6px;
}
h4 {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-weight: 400;
    margin: 0;
}
.description {
    display: block;
    max-width: 100%;
    height: 100px;
    border: 1px solid gray;
    padding: 5px;
    margin-top: 10px; 
}
button {
    background-color: #ffe36a;
    color: black;
    padding: 5px 10px;
    margin-top: 30px; 
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.9;
}
input {
    padding: 6px 12px;
}

@media (max-width: 575px) {
    .property {
        text-align: left;
    }
    .profile-menu {
        text-align: center;
    }
    .profile-content {
        min-height: 500px;
    }
    button {
        padding: 10px 20px;
    }
    body {
        font-size: 13px;
        overflow: auto;
    }

}

@media (min-width: 576px) {
    body {
        font-size: 13px;
        overflow: auto;
    }
    .profile-menu {
        text-align: center;
    }
    .profile-content {
        min-height: 400px;
    }
}

@media (min-width: 768px) {
    .profile-content {
        min-height: 65%;
    }
}
