html, body, #root {
  height: 100%;
  overflow-x: auto
}

.admin-order-history {
[id ^= order-detail-] {
  border: 1px solid black;
  button:hover {
    cursor: pointer;
  }
  .display-item {
    font-size: 18px;
    padding-top:40px;
    padding-bottom:40px;
    padding-right:40px; 
  }
  tr {
    height: 80px;
  }
}
.active-item {
  display: block;
}
.display-item {
  text-align: center;
  font-size: 16px;
}
}