#body {
    height: 100%;
}

#display-container {
    border: solid;
    border-width: 1px;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: white;
}

.display-item {
    text-align: center;
}

.menu-label {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 10%;
    display: none;
}

.detail {
    display: none;
    width: 100%;
}

.navbar {
    background: transparent !important;
}

.logo-container {
    height: auto;
    width: auto;
    display: block;
    margin: auto;
    align-items: center;
    background: transparent;
}

.logo {
    position: relative;
    padding: 5px;
    width: auto;
    height: 60px;
}

.title {
    display: inline;
}
#icon-dropdown {
    position: relative;
}
.dropdown {
    padding-top: 6px;
    cursor: pointer;
}
.dropdown-item {
    font-weight: 600;
    font-size: 18px;
}
.media-content {
    overflow-x: visible;
    max-width: 250px;
}

img {
    padding: 5px;
}

#today-button { 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}
#product-content,
#user-content {
    /* max-height: 50%; */
    overflow-y: auto;
}

.product-img{
    height: 100px;
}

.navbar-burger {
    margin-left: 0;
    margin-right: auto !important;
    /* display: inline-block; */
}

.title {
    max-width: 200px;
    margin-left: auto;
    text-align: right;
}

#nav-menu {
    background: #EFF0EB;
    z-index: 2;
}

@media (max-width: 1087.98px) {
    #nav-menu {
        display: none;
        background: hsl(0, 0%, 96%);
    }

    #body {
        width: 100%;
    }
}

@media (min-width: 1088px) {
    #nav-menu {
        display: block;
        flex: none;
        width: 16.66667%;
    }
}

input[type="file"] {
    padding: 5px;
}

.field-label {
    max-width: 150px;
    min-width: 140px;
    padding-left: 10px; 
    padding-top: 0 !important;
}

.button {
    max-width: 220px;
    display: block !important;
    margin: auto;
}

.content {
    z-index: 1 !important;
}