#body{
    height: 100%;
}
#display-container{
    border: solid;
    border-width: 1px;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: white;
}
.display-item{
    text-align: center; 
}

.menu-label{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 10%;
    display: none;
}

.detail {
    display: none;
    width: 100%;
}
.navbar {
    background: transparent !important;
}
.logo-container {
    height: auto;
    width: auto;
    display: block;
    margin: auto;
    align-items: center;
    background: transparent;
}
.logo {
    position: relative;
    padding: 5px;
    width: auto;
    height: 60px;
}
.title {
    padding: 11px 10px;
}
img {
    padding: 5px;
}
#product-content, #user-content {
    /* max-height: 50%; */
    height: 650px;
    overflow-y: auto;
}