#profile-user-picture, #profile-user-information {
  height: 350px;
  border: solid 1px black;    
}

#profile-border-box {
  margin: auto;
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

#profile-description {
  text-align: center;
  padding: 10px 0px;
  margin-top: 10px;
  color: black;
  font-size: 25px;
}

#user-information-box {
  margin-top: 10px;
}
.property {
  text-align: right;
  color: black;
  font-size: 20px;
}

.description {
  padding-left: 10px;
  min-height: 30px;
  color: black;
  font-size: 20px;
}

.avatar {
  border: 1px solid black;
  margin: auto;
  height: 100%;
  width: 100%;
}