.home {
    #bill-form {
        display: inline-block;
        position: fixed;
        vertical-align: baseline;
        z-index: 1;
        padding: 10px;
        border: 1px solid #ffe36a;
        background-color: white;
    }
    .main-bill-form {
        position: relative;
        height: 300px;
        overflow-y: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    #bill-form h1 {
        text-align: center;
        font-weight: 700;
        margin: 0;
        padding: 10px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        background: #ffd54f;
        border: 2px solid orange;
        border-bottom: 5px double orange;
    }
    .order-thing {
        padding: 5px;
        position: relative;
        border-bottom: 1px dotted gray;
    }
    .name-of-snack {
        display: block;
        width: 100%;
        font-size: 16px;
        padding-bottom: 10px;
    }
    .price-of-snack {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: red;
    }
    .number-of-snack {
        border: 1px solid #e6e6e6;
        display: flex;
        position: relative;
        float: right;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80px;
        margin-bottom: 5px;
        border-radius: 3px;
    }
    .total {
        padding:  0 10px;
        width: 100%;
        border-top: 1px dashed black; 
    }
    #total-price {
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #total-price-number {
        font-size: 20px;
        margin-top: 10px;
        color: red;
        font-weight: 700;
        display: block;
        float: right;
    }
    #order-button {
        width: 100%;
        display: block;
        text-align: center;
        line-height: 36px;
        color: #fef4e9;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        font-size: 16px;
        font-weight: 900;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        cursor: pointer;
    }
    #order-button:hover {
        filter: brightness(105%);
    }
    .number-button {
        display: block;
        text-align: center;
        width: 24px;
        height: 24px;
        border: none;
        background: transparent;
        line-height: 24px;
        font-size: .75rem;
    }
    .number-button:disabled {
        background: rgba(158, 158, 158, 0.3);
        border: 2px solid rgba(187, 187, 187, 0.3);
        box-shadow: none;
        cursor: default;
    }
    .number-button {
        cursor: pointer;
    }
    .amount-display {
        padding: 3px;
    }
    @media  (max-width: 767.98px) {
        #bill-form {
            width: 100%;
            background: white;
            border-width: 2px;
            height: auto;
            right: 0;
        }
    }

    @media (min-width: 1200px) {
        #bill-form {
            width: 290px;
        }
    } 
    @media (max-width: 575.98px) {
        .main-bill-form {
            height: 320px;
        }
    }
}