.home .row::after {
    content: "";
    clear: both;
    display: table;
}
.home .one-snack {
    margin: 0;
    padding: 10px;
}
.home .snack-img {
    width: 100%;
    height: auto;
    max-height: 237px;
}
.home .main-snack-name {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    min-height: 68px;
    text-overflow: ellipsis;
}
.home .main-snack-price {
    color: red;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
}
.home .one-snack:hover {
    box-shadow: 1px 1px 20px 2px rgba(255, 211, 90);
    filter: brightness(110%);
    cursor: pointer;
}
.home .one-snack input {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.home .checkbox-button:checked {
    background-color: #e2a600;
    border-radius: 5px;
}
@media (min-width: 1200px) {
    .home .main-snack-name {
        font-size: 15px;
        min-height: 50px;
    }
}
@media (min-width: 768px) {
    .home #main-order {
        padding-right: 15px;
    }
    .home .main-snack-name {
        font-size: 12px;
    }
}