html {
    background-color: #fff8e1 !important ;
}
.home {
    /* box-sizing: border-box; */
    background-color: #fff8e1 ;
    font-family: Arial, Helvetica, sans-serif;
}
.home i {
    color: orange;
    -webkit-text-stroke: 2px white;
}
.home .title {
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;    
    height: 64px;
    border-bottom: 1px solid rgb(252, 193, 0);
    background-color: #ffd54f;
    align-items: center;
    font-size: 60px;
}
.home .logo-container {
    display: flex;
    width: 200px;
    margin: auto;
    padding: 3px;
    border-radius: 100px;
    background: #fff8e1;
}

.home .logo {
    align-content: center;
    height: 90%;
    width: auto;
    margin: auto;
}
.home #user-bar {
    display: block;
    height: 40px;
    text-align: start;
    border-radius: 19px;
    background-color: #fff8e1;
    border: solid #ffa31a 1px;
    padding: 9px;
    max-width: 300px;
}
.home #user-name {
    float: left;
    color: #ffa31a;
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
    width: 60%;
    text-align: center;
}
.home #user-bar button {
    float: right;
    color: #fff8e1;
    background: #ffa31a;
    border-radius: 19px;
    font-weight: bold;
    border: transparent;
    width: 39%;
    font-size: 16px;
    cursor: pointer;
}
.home .container {
    z-index: 1;
    display: block;
    position: relative;
    top: 70px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: auto;
}
.home .row {
    display: inline;
}
.home #cart-button, #hamburger-button {
    border-style: hidden;
    border-radius: 15px;
    margin: auto;
    margin-right: 1%;
    padding: 0;
    font-size: 40px;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}

.home #cart-button {
    color: orange;
    background: white;
}
@media (min-width: 768px) {
    .home .fa {
        display: none;
    }
}
.home #hamburger-button {
    text-align: center;
    margin-left: 0;
}
.home #hamburger-box {
    z-index: 3;
    position: fixed;
    padding: 0;
    top: 64px;
    left: 0;
    background: #ffd54f;
    height: 100%;
    opacity: 0.95;
    filter: alpha(opacity=95);
}
.home .hamburger-option {
    text-align: left;
    color: #ffffff;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    padding: 19px;
    font-size: 28px;
    cursor: pointer;
}
.home .hamburger-option:hover {
    filter: brightness(69%);
    border: solid 1px #ffa31a;
}
.home .selection-container {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
@media (min-width: 1200px) {
    .home .container {
        max-width: 1170px;
        width: 100%;
    }
    .home .title {
        height: 96px;
    }
    .home .logo-container {
        width: 270px;
        border-radius: 150px;
    }
    .home .container {
        top: 106px;
    }
}
@media (max-width:1199.98px) {
    .home #user-bar {
        height: 30px;
        padding: 4px;
        padding-top: 3px;
    }
}