/* body {
    background-color: #fcf7bb;
    opacity: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
} */
/* #main-order {
    z-index: 0;
    height: calc(100% - 110px);
    display: inline-block;
    padding: 0;
} */
