body {
    background-color: #ffff99;
    opacity: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#main-order {
    z-index: 0;
    height: calc(100% - 110px);
    display: inline-block;
    position: absolute;
    padding: 0;
    top: 16%;
}
