#title {
    z-index: 2;
    position: fixed;
    display: block;
    width: 100%;
    height: 15%;
    background-color: #ffa31a;
    text-align: center;
    font-family: 'monofett';
    color: whitesmoke;
    font-size: 60px;
}
#user-bar {
    display: block;
    position: absolute;
    box-sizing: border-box;
    right: 2%;
    height: 40%;
    width: 30%;
    bottom: 10%;
    text-align: start;
    background-color: #ffe36a;
    border-radius: 19px;
    padding: 9px;
}
#user-name {
    float: left;
    color: #ffa31a;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    font-size: 19;
    white-space: nowrap;
    font-weight: bold;
    width: 60%;
    text-align: center;
}

#user-bar button {
    float: right;
    color: #ffe36a;
    background: #ffa31a;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 19px;
    font-weight: bold;
    border: transparent;
    width: 35%;
    font-size: 19px;
}
.number-button:disabled {
    background: rgba(158, 158, 158, 0.3);
    border: 2px solid rgba(187, 187, 187, 0.3);
    box-shadow: none;
    cursor: default;
}
.number-button {
    cursor: pointer;
}


